@import "style.less";

body{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

  background: @theme_green_base;
}

.button {
  margin: 10px;
  background: @theme_green_opposite;

}
.button:hover {
  background: @theme_green_opposite_light;
}

#body-footer {
  display: none;
}

#body-header {
  display: none;
}

.content-container{
    margin: 30px auto;
    width: 700px;
  padding: 50px 100px;
  background-color: @darker;
  .box_shadow()
}

.diceRaiseRow{
    height: 220px;
    margin-bottom: 0;
    width: 250px;
    float: left;
}

.turnForms {
    width: 350px;
    float: left;
}

.revealUsername {
    margin-top: 20px;
}

#revealHeading {
    font-size: 20pt;
    text-align: center;
}


#output {
}
#myDice {
    height: 120px;
}
#diceAvailable {
    height: 120px;
}
.opponentsDice {
    float: left;
    width: 660px;
}
.username {
    clear: both;
    font-size: 16pt;
}
#moveHistory {

}
#currentlyQueued {

}
#roundResult {
    /*width: 700px;*/
}
#turnFormContainer {
    display: block;
    margin-bottom: 20px;
}

html {
    margin: 0;
    padding: 0;
}
body {
    margin: 0;
    padding: 0;
}

.dice {
    background: white;
    width: 90px;
    height: 90px;
    border-radius: 10px;
    margin: 20px;
    padding: 0px;
    line-height: 90px;
    text-align: center;
    color: #353535;
    font-size: 50px;
}

.diceSmall {
    background: white;
    width: 50px;
    height: 50px;
    border-radius: 5px;
    margin: 20px;
    padding: 0px;
    line-height: 50px;
    text-align: center;
    color: #353535;
    font-size: 30px;
}


.float {
    float: left;
}

svg.drawing {
    /*background-color: blue;*/
    margin: 5px;
}

#diceSvg {
    display: none;
}

#body-container{
  width:700px;
  margin: auto;
}

@media all and (max-width: 900px) {
    #body-container{
        width:100%;
    }
}


.arrowUp {
    border-bottom: 45px solid #353535;
    margin-left: 20px;
}

.arrowDown {
    border-top: 45px solid #353535;
    margin-left: 20px;
}

.arrowBase {
    width: 0;
    height: 0;
    border-left: 45px solid transparent;
    border-right: 45px solid transparent;
    cursor: pointer;

}

.diceReserve {
    width: 120px;
    height: 130px;
}

.diceColumn {
    width: 120px;
    float: left;
}

.inactive {
    background-color: #D1D1D1;

}
.inactive:hover {
     background-color:#D1D1D1;
    cursor: default;
}
.inactive:active {
    background-color:#D1D1D1;
  }