@import "style.less";

p {
  line-height: 1.6em;
}

.main-button {
  margin: auto;
  width: 370px;
  margin-top: 70px;
}


.main-button .button {
  width: 370px;
  height: 105px;
  line-height: 105px;
  font-size: 32pt;
}

.section {
  text-align: center;
}

.section-header {
  font-size: 32pt;
}

.section-1-1 {
  margin: 31px;
  float: left;
  background-color: @theme_green_opposite;
  padding: 20px;
}
.section-1-1 p {
  padding: 0px 10px;
  text-align: left;
}

.section-3-1 {
  width: 270px;
  margin: 31px;
  float: left;
  background-color: @theme_green_opposite;
  padding: 20px 0px;
}
.section-3-1 p {
  padding: 10px 10px 0px 10px;
  text-align: left;
}

.delay-1 {
//  -vendor-animation-delay: 2s;
  -webkit-animation-delay:1s;
}
.delay-2 {
  //  -vendor-animation-delay: 2s;
  -webkit-animation-delay:2s;
}
.page {
  padding-top: 100px;
}
.page:nth-child(1){
  background-color: @theme_green_opposite;
}

.page:nth-child(1) .button{
  background-color: @theme_green_base;
}

.page:nth-child(2){
  background-color: @theme_green_base;
}

.page:nth-child(2) .button{
  background-color: @theme_green_opposite;
}

.page:nth-child(3){
  background-color: @theme_green_opposite;
}

.page:nth-child(3) .button{
  background-color: @theme_green_base;
}

#top-menu {
  position: fixed;
}
.side-popout-btn {
  width: 270px;
  margin-top: 5px;
  margin-left: -220px;
  z-index: 999;
  .transition_margin_left()
}
.side-popout-btn .icon-svg {
  z-index: 1000;
  position: absolute;
  left:5px;
  margin-top: 10px;
  .transition_pos_left()
}

.side-popout-btn:hover {
  margin-left:0px;
  .transition_margin_left()
}

.side-popout-btn:hover .icon-svg {
  left:230px;
  .transition_pos_left()
}

.white_content {
  text-align: left;
}

.lb-input {
  margin: 20px;
}

.lb-form-container {
  border-left:thick solid #EB673B;
  margin-bottom: 20px;
  padding-left: 20px;
}

@media (max-width: 1000px) {
  #top-menu {
    display: none;
  }
  #header-text {
    padding-top: 0px;
  }
  .content-container {
    width: 100%;
  }
  .section-3-1 {
    width: 90%;
    margin: 5%;
    float:none;
    clear:both;
  }
}