@import "style.less";

h2, h3 {
  letter-spacing: 0.15em;
  text-transform: uppercase;
}

p {
  line-height: 1.6em;
}

.main-button {
  margin: auto;
  width: 370px;
}


.main-button .button {
  width: 370px;
  height: 105px;
  line-height: 105px;
  font-size: 32pt;
}

.section {
  margin-top: 50px;
  margin-bottom: 50px;
}