body {
    font-family: 'Fauna One', serif;
    text-shadow:1px 1px 0px #5B676E;
}

h2, h3 {
    letter-spacing: 0.15em;
    text-transform: uppercase;
    /* background-color: @complement1; */
}

p {
    line-height: 1.6em;
}



.content-container{
    margin: auto;
    width:1000px;
}

#body-header {
    color:#FFFFFF;
    background-color:#3A5E93;
    height: 500px;
    text-align: center;
    font-size: 50pt;
}

#header-text {
    padding-top: 200px;
}

#body-content {
    height: 600px;
}


#body-footer {
    color:#FFFFFF;
    height: 300px;
    background-color:#363636;
}

.button {
    background-color:#6eb4da;
    text-indent:0;
    display:inline-block;
    color:#ffffff;
    font-size:15pt;
    font-weight:normal;
    font-style:normal;
    height:65px;
    line-height:65px;
    width:270px;
    text-decoration:none;
    text-align:center;

    margin: 10px;
}.button:hover {
     background-color:#5aa6cc;
}.button:active {
  position:relative;
  top:1px;
}

.main-button {
    margin: auto;
    width: 370px;
}

.main-button .button {
    width: 370px;
    height:105px;
    line-height:105px;
    font-size: 32pt;
}

.section {
    margin-top: 50px;
    margin-bottom: 50px;
}