/**
 *  Global styles and mixins
 */

//// r: 100, g: 87, b: 0
//@theme_yellow_base: rgb(255, 236, 115);
//@theme_yellow_opposite: rgb(71, 43, 131);
//
//@theme_blue_base: rgb(255, 104, 64);
////@theme_blue_opposite: rgb(255, 163, 64);
//@theme_blue_opposite: rgb(8, 111, 161);
//
////@theme_green_base: rgb(54, 215, 146);
////@theme_green_opposite: rgb(255, 118, 64);

@theme_green_opposite: rgb(255, 118, 64);
@theme_green_opposite_light: lighten(@theme_green_opposite,5);
@theme_green_opposite_dark: darken(@theme_green_opposite,5);

@theme_green_base: darken(spin(@theme_green_opposite,180),0);
@theme_green_base_light: lighten(@theme_green_base, 10);
@theme_green_base_dark: darken(@theme_green_base, 10);

//@theme_blue_opposite

//@theme_1_primary_base: #5DB784;
//@theme_1_primary_opposite: #E7B376;
//@theme_1_secondary_base: #5B90AA;
//@theme_1_secondary_opposite: #E78D76;




//blue theme
@base: rgb(70, 113, 213);
@darker: rgb(18, 64, 171);


//green ones
//@base: rgb(0, 160, 138);
//@darker: rgb(0, 104, 90);


@dark: lighten(@darker, 2);
@light: lighten(@base, 3);
@lighter: lighten(@base, 6);

@grey: #424242;
@gray_light: lighten(@grey, 3);

.box_shadow(){
  -webkit-box-shadow: 2px 2px 10px 1px rgba(50, 50, 50, 0.75);
  -moz-box-shadow:    2px 2px 10px 1px rgba(50, 50, 50, 0.75);
  box-shadow:         2px 2px 10px 1px rgba(50, 50, 50, 0.75);
}

.transition_me(){
  -webkit-transition: background-color 200ms linear;
  -moz-transition: background-color 200ms linear;
  -o-transition: background-color 200ms linear;
  -ms-transition: background-color 200ms linear;
  transition: background-color 200ms linear;
}

.transition_pos_left(){
  -webkit-transition: left 100ms linear;
  -moz-transition: left 100ms linear;
  -o-transition: left 100ms linear;
  -ms-transition: left 100ms linear;
  transition: left 100ms linear;
}

.transition_margin_left(){
  -webkit-transition: margin-left 100ms linear;
  -moz-transition: margin-left 100ms linear;
  -o-transition: margin-left 100ms linear;
  -ms-transition: margin-left 100ms linear;
  transition: margin-left 100ms linear;
}

@font-face {
  font-family: 'ComicNeue-Angular-Light';
  src: url('fonts/ComicNeue-Angular-Light.eot');
  src: url('fonts/ComicNeue-Angular-Light.eot') format('eot'),
  url('fonts/ComicNeue-Angular-Light.woff') format('woff'),
  url('fonts/ComicNeue-Angular-Light.ttf') format('ttf');
}

.clear {
  clear:both;
}

body {
  font-family: 'ComicNeue-Angular-Light', Arial, sans-serif;
  text-shadow: 1px 1px 0px #5B676E;
  color:white;
  font-size: 15pt;
}

.button {
  background-color: @theme_green_base;
  text-indent: 0;
  display: inline-block;
  color: #ffffff;
  font-size: 15pt;
  font-weight: normal;
  font-style: normal;
  height: 65px;
  line-height: 65px;
  width: 270px;
  text-decoration: none;
  text-align: center;
}

.button:hover {
  background-color: @theme_green_base_light;
}

.button:active {
  position: relative;
  top: 1px;
}

.button.inverse {
  background-color: @theme_green_opposite;
  .transition_me()
}

.button.normal {
  background-color: @theme_green_base;
  .transition_me()

}

.content-container {
  margin: auto;
  width: 1000px;
}

#body-header {
  text-align: center;

}

#header-text {
  padding-top: 200px;
    font-size: 50pt;
}


.white_content {
  display: none;
  position: absolute;
  top: 20px;
  width: 700px;
  margin-left: 50%;
  /* left must factor in padding/2 as well */
  left: -358px;
  padding: 16px;
  background-color: @theme_green_opposite;
  z-index:1002;
  overflow: auto;
}

@media (max-width: 800px) {
  .white_content {
    width: 84%;
    margin: 5%;
    left: 0;
    padding: 3%;
  }
}

.black_overlay{
  display: none;
  position: fixed;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  background-color: black;
  z-index:1001;
  -moz-opacity: 0.6;
  opacity:.60;
  filter: alpha(opacity=80);
}

.white_content .exit {
  float: right;
  background-color: #EB673B;
  padding: 10px 15px;
  margin: -5px -5px 0px 0px;
}

.white_content .exit:hover {
  background-color: #EB7C57;
  cursor: pointer;
}

a {
  color: navajowhite;
  text-decoration: none;
}

a:hover {
  color: white;
  text-decoration: underline;
}