body{
	font-family: 'Fauna One', serif;
}


#output {
    /*border-style: solid;*/
    /*border-width:1px;*/
}
#myDice {
    border-style: solid;
    border-width:1px;
}
#diceAvailable {
    border-style: solid;
    border-width:1px;
}
#moveHistory {
    border-style: solid;
    border-width:1px;
}
#currentlyQueued {
    border-style: solid;
    border-width:1px;
}
#roundResult {
    border-style: solid;
    border-width:1px;
}
#turnFormContainer {
    border-style: solid;
    border-width:1px;
}